body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66bfbf;
    font-size: 90px; 
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    padding-bottom: 10px;
    color: #66bfbf;
    font-size: 2rem;
}
h3{
    color: #11999e;
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color:#11999E;
    font-family: 'Merriweather',serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6F6;
}
.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color:#66BFBF;
    padding: 50px 0 20px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom:350px;
}

.top_cloud{
    position: absolute;
    right: 300px;
    top: 40px; 
}

.myimages{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  max-height: 350px;
  max-width: 255px;
  width: 25%;
  border-radius: 60%;
  float: left;
  margin-right: 30px;
}

.profile_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
    max-width: 255px;
    width: 25%;
    border-radius: 60%;
}
.colordede{
    font-size: 20px;
    color:#11999e;
}
.skill-row{
    margin: auto;
    width: 50%;
     margin-top: 100px;
     margin-bottom: 100px;
     text-align: left;
     line-height: 2;
}

.intro{
    margin: auto;
    width: 30%;
}

.eat_skill{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0px;
  }